.vscode/**
.vscode-test/**
.github/**
.git_hooks/**
out/**
node_modules/**
**/.mypy_cache/**
**/__pycache__/**
.pylintrc
src/**
.gitignore
webpack.config.js
.eslintrc.js
tsconfig.json
**/*.map
**/*.ts
.tool-versions
package-lock.json
package.json
vsix/**
example-projects/**
images/behave-vsc.gif
**/.venv/**
**/venv/**
