.vscode/**
.vscode-test/**
out/**
node_modules/**
**/__pycache__/**
src/**
.gitignore
webpack.config.js
.eslintrc.js
tsconfig.json
**/*.map
**/*.ts
package-lock.json
package.json
vsix/**
example-project-workspace/**
images/behave-vsc.gif
**/.venv/**
**/venv/**