asgiref==3.7.2
asttokens==2.4.1
beautifulsoup4==4.12.3
behave==1.2.6
behave-django==1.4.0
boto3==1.33.9
botocore==1.33.9
comm==0.2.1
debugpy==1.8.0
decorator==5.1.1
Django==5.0.2
executing==2.0.1
ipykernel==6.28.0
ipython==8.20.0
jedi==0.19.1
jmespath==1.0.1
jupyter_client==8.6.0
jupyter_core==5.7.1
matplotlib-inline==0.1.6
nest-asyncio==1.5.8
packaging==23.2
parse==1.20.0
parse-type==0.6.2
parso==0.8.3
pexpect==4.9.0
platformdirs==4.1.0
prompt-toolkit==3.0.43
psutil==5.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.17.2
python-dateutil==2.8.2
pyzmq==25.1.2
s3transfer==0.8.2
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
stack-data==0.6.3
tornado==6.4
traitlets==5.14.1
urllib3==2.0.7
wcwidth==0.2.13
